body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2980b9;
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #3498db;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid #2980b9;
    display: inline-block;
    font-size: 2rem;
    line-height: 100px;
    margin: 6px;
    border-radius: 18px;
    transition: background-color 0.5s ease, transform 0.3s;
    color: #2980b9;
    background-color: white;
}

.winner {
    background-color: #27ae60;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.winner-count-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #eaf3f3; /* Latar belakang lembut */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.winner-count {
    font-size: 1.5rem; /* Ukuran font lebih besar */
    font-weight: bold;
    color: #2980b9; /* Warna teks untuk menonjolkan jumlah pemenang */
    margin: 0 15px; /* Margin di kiri dan kanan */
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Margin di kiri dan kanan */
    transition: background-color 0.3s, transform 0.2s; /* Animasi pada hover */
    font-size: 1.2rem; /* Ukuran font tombol lebih besar */
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #3498db;
    transform: scale(1.05); /* Sedikit membesar saat hover */
}
